<link rel="stylesheet" href="../../public/css/home.css" />

<div>
  <h1>Estos son los productos:</h1>
  {{#each products}}
    <div class="productList">
      <ul>
        <li><strong>Nombre:</strong> {{this.title}}</li>
        <li><strong>Descripcion:</strong> {{this.description}}</li>
        <li><strong>Quedan:</strong> {{this.stock}}</li>
        <li><strong>Precio:</strong> {{this.price}}</li>
      </ul>

    </div>
  {{/each}}

</div>

<script src="/js/index.js"></script>