<div>
  <h1>Estos son los productos:</h1>
  {{#each products}}
    <div>
      <ul>
        <li><strong>Title:</strong> {{this.title}}</li>
        <li><strong>Description:</strong> {{this.description}}</li>
        <li><strong>Stock:</strong> {{this.stock}}</li>
        <li><strong>Price:</strong> {{this.price}}</li>
      </ul>

    </div>
  {{/each}}

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>