<div>
  <h1>Crear productos</h1>
  <form id="form-products">
    <input id="input-title" type="text" required placeholder="Title" />
    <input
      id="input-description"
      type="text"
      required
      placeholder="Description"
    />
    <input id="input-price" type="number" required placeholder="Price" />
    <input id="input-code" type="text" required placeholder="Code" />
    <input id="input-stock" type="text" required placeholder="Stock" />
    <input id="input-status" type="text" required placeholder="Status" />
    <input id="input-category" type="text" required placeholder="Category" />
    <input type="submit" value="Crear" />
  </form>
</div>

<div id="productsRealTime"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>